* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}
h1,
h2,
h3 {
	color: black;
}
body {
	font-family: "Lato", sans-serif;
	background: black;
	background-image: url("../img/bg-image.jpg");
	background-repeat: repeat;
}
.App {
	transition: all 0.5s ease;
	background-image: url("../img/bg-image.jpg");

	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	background-size: cover;
}
.glass {
	width: 70%;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
	border-radius: 2rem;
	backdrop-filter: blur(2rem);

	@media screen and (max-width: 1100px) {
		width: 90%;
	}
}
.library-active {
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
h3,
h4 {
	font-weight: 400;
	color: black;
}
